body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}

h2.bookTitle {
  font-size: 24px;
}

h2.bookAuthor {
  font-size: 18px;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

label {
  align-self: flex-start;
  margin-bottom: 5px;
}

input {
  padding: 5px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 5px;
}

.bookshelfList {
  padding: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formDiv {
  width: 80%;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.bookCardsDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 200px;
  margin-top: 20px;
}

.bookCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid white;
  padding: 5px;
  margin: 15px 10px;
  background-color: rgb(155, 155, 155);
  color: black;
}

.btn {
  cursor: pointer;
  background-color: #747bff;
  color: #ffffff;
  padding: 7px;
  font-size: 15px;;
  border: transparent;
  border-radius: 5px;
  margin-top: 5px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
